<% include ./partials/header %>
    <% Date.prototype.niceDate = function() { %>
    <% var mm = this.getMonth();  %>
    <% var dd = " "+this.getDate() + ", ";%>
    <% var month = new Array(12);%>
    <%month[0] = "January";%>
    <%month[1] = "February";%>
    <%month[2] = "March";%>
    <%month[3] = "April";%>
    <%month[4] = "May";%>
    <%month[5] = "June";%>
    <%month[6] = "July";%>
    <%month[7] = "August";%>
    <%month[8] = "September";%>
    <%month[9] = "October";%>
    <%month[10] = "November";%>
    <%month[11] = "December";%>

    <%var weekday = new Array(7);%>
    <%weekday[0] = "Sunday ";%>
    <%weekday[1] = "Monday ";%>
    <%weekday[2] = "Tuesday ";%>
    <%weekday[3] = "Wednesday ";%>
    <%weekday[4] = "Thursday ";%>
    <%weekday[5] = "Friday ";%>
    <%weekday[6] = "Saturday ";%>
    <%return [weekday[date.getDay()],month[mm], dd, this.getFullYear()].join('')%>
    <% }; %>
    <%var date = new Date();%>
    <%var veryNiceDate = date.niceDate();%>

    <img class = 'ui centered image' src = "http://academypgh.com/wp-content/uploads/2018/02/Logo-75-Academy-Pittsburgh.png" alt = "logo">
    
    <div class='ui text container segment'>

    <h1>Here are the <%=classroom[0].title%> random groups for <%= veryNiceDate+":"%></h1>
    <br>
        <div>
            <h1>
                Group 1:
                <%=classroom[0].classList[0]+", "%>
                <%=classroom[0].classList[1]+", "%>
                <%=classroom[0].classList[2]+", & "%>
                <%=classroom[0].classList[3]%>
            </h1>
            <h1>
                Group 2:
                <%=classroom[0].classList[4]+", "%>
                <%=classroom[0].classList[5]+", "%>
                <%=classroom[0].classList[6]+", & "%>
                <%=classroom[0].classList[7]%>
            </h1>
            <h1>
                Group 3:
                <%=classroom[0].classList[8]+", "%>
                <%=classroom[0].classList[9]+", "%>
                <%=classroom[0].classList[10]+", & "%>
                <%=classroom[0].classList[11]%>
            </h1>
            <h1>
                Group 4:
                <%=classroom[0].classList[12]+", "%>
                <%=classroom[0].classList[13]+", & "%>
                <%=classroom[0].classList[14]%>
            </h1>
        </div>
        </div>

            <% include ./partials/footer %>
